# macOS
.DS_Store
**/.DS_Store

# TwinCAT generated / temporary files
*.bak
*.tclrs
*.tmc
*.tmcRefac

**/_Boot/
**/_CompileInfo/
**/_Libraries/
**/_ModuleInstall/
**/_Deployment/
**/_Repository/

# Visual Studio / TwinCAT XAE Shell
**/.vs/
*.suo
*.user

# LaTeX generated / temporary files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
_minted-*/
/docs/rapport/main.pdf

# Windows
Thumbs.db
Desktop.ini
docs/rapport/main.pdf
